div.contractHeaderContainer
	div.contractHeaderTitleContainer.ethereum
		div.contractHeaderTitle Contract Signed
	div.contractHeaderItemsContainer
		div.contractHeaderItem
			div.contractHeaderItemTitle Document Id
			//div.contractHeaderItemDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			div#contactHeaderDocumentId.contractHeaderItemValueContainer= docId
		div.contractHeaderItem
			div.contractHeaderItemTitle Pdf hash
			//div.contractHeaderItemDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			div#contactHeaderPDFHash.contractHeaderItemValueContainer= pdfHash
		div.contractHeaderItem
			div.contractHeaderItemTitle Transaction Id
			//div.contractHeaderItemDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			div#contactHeaderTransactionId.contractHeaderItemValueContainer=transactionId
		div.contractHeaderItem
			div.contractHeaderItemTitle Contract Address
			//div.contractHeaderItemDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			div#contactHeaderContractAddress.contractHeaderItemValueContainer= address
	//
		div.contractHeaderItem
			div.contractHeaderItemTitle Sender
			div.contractHeaderItemDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			div#contactHeaderSender.contractHeaderItemValueContainer
	div.contractHeaderTitleContainer.hellosign
		div.contractHeaderTitle Electronic Signature Contract
	div
		span.contractHeaderDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.