div.historyContainer
	div.historyTitle History
	div.historyOuterItem
		div#historyStep_1.historyStepContainer.inProgress
			div.historyLineContainer
		div.historyItemContainer
			div.historyItem
				div.historyItemDate
				div.historyItemTitle Borrower signed
				div.historyItemDescription Information about the borrower is entered and signed. The borrower agree pays off the money borrowed, plus interest, in one single payment.
			div.historyItemBottomSpace
	div.historyOuterItem
		div#historyStep_2.historyStepContainer.inProgress
			div.historyLineContainer
		div.historyItemContainer
			div.historyItem
				div.historyItemDate
				div.historyItemTitle Lender signed
				div.historyItemDescription Information about the lender is entered and signed. The lender agree, that the borrower pays off the money borrowed, plus interest, in one single payment.
			div.historyItemBottomSpace
	div.historyOuterItem
		div#historyStep_3.historyStepContainer.inProgress
			div.historyLineContainer
		div.historyItemContainer
			div#historyItem_3.historyItem
				div.historyItemDate
				div.historyItemTitle Contract signed
				div.historyItemDescription Your promissory note is complete! Smart contract  is initialized.
			div.historyItemBottomSpace
	div.historyOuterItem
		div#historyStep_4.historyStepContainer.notStarted
			div.historyLineContainer
		div.historyItemContainer
			div.historyItem
				div.historyItemDate
				div.historyItemTitle Note funded
				div.historyItemDescription The resources specified in the promissory note is transferred by the lender to the borrower.
			div.historyItemBottomSpace
	div.historyOuterItem
		div#historyStep_5.historyStepContainer.notStarted
			div.historyLineContainer
		div.historyItemContainer
			div.historyItem
				div.historyItemDate
				div.historyItemTitle Paid in full
				div.historyItemDescription The borrower pays off the money borrowed, plus interest, in one single payment.
			div.historyItemBottomSpace